.search_part
{
margin-bottom: 5px;
margin-top: 15px;
}

.search_bar
{
box-shadow: 0 0 5px rgba(70,70,40,.255);
-webkit-animation: fadeIn 2.5s;
animation: fadeIn 2.5s;
background-color:   rgba(255,255,255,.0);
border-radius: 3px;
display: table;
vertical-align: middle;
width: 85%;
height: 20px;
max-width: 400px;
margin: 10px auto;
position: relative;
z-index: 10;
}

#search_submit
{
outline: 0;
height: 40px;
float: right;
color: #4a4266;
font-size: 18px;
font-weight: 500;
border: none;
background-color: transparent;
padding: 0 13px 0 13px
}

.search_bar span
{
display: block;
font-size: 12px;
overflow: hidden;
padding-left: 2px;
margin-right: 42px;
vertical-align: middle;
}

.search_bar span i
{
display: none;
float: right;
width: 35px;
height: 40px;
background: url(img/clear.png) no-repeat center;
background-size: 16px;
}

.search_bar .si
{
margin: 0 38px 0 10px;
}

#search_input
{
width: 90%;
height: 40px;
background-color: transparent;
border: none;
outline: 0;
font-size: 16px;
color: #A593E0;
padding: 0 10px;
border-radius: 50px
}

#suggest
{
position: absolute;
left: -1px;
right: -1px;
top: 40px;
border: 1px solid #ccc;
background: #fff;
line-height: 40px;
}

#suggest li
{
border-bottom: 1px solid #ccc;
text-align: left;
padding-left: 16px;
}

#suggest li:active
{
background: #F0F0F0;
}

#suggest li b
{
float: right;
width: 44px;
height: 40px;
background: url(data:image/png;
base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAI5JREFUSEtjZCACLF261J6RkbELpPT///9l0dHRB4nQRlgJ0ODny5Yt+w/CIDZhHUSqgBkKo4nURljZqMHwMBohQQFK/ECvnkT3LgX8kyAzGZATPwWGgTMPSiYCGvyEWgYiGfyEAcjxoKaroWZ5EM52QBUjJLkRExajQUH7Qgg5E4HYxMQLUWpgmYiUxA8AOdLMz+iDKvIAAAAASUVORK5CYII=) no-repeat scroll center center #fff;
	background-size: 11px;
}

#suggest .close
{
text-align: right;
font-size: 14px;
color: #888;
padding-right: 12px;
}

